.custom_image_display_panel {
    width: 800px;
    height: 70vh;
    overflow: auto
}


@media (max-width: 768px) {
    .custom_image_display_panel {
        width: 350px;
        height: 40vh;
    }
}