@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rethink+Sans:ital@1&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-image: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.my-scroll::-webkit-scrollbar {
    width: 5px;
}

.my-scroll::-webkit-scrollbar-thumb {
    background: #082d3d;
}

.my-scroll::-webkit-scrollbar-track {
    background: #fff;
}