@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rethink+Sans:ital@1&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rethink Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-- {
    height: 100vh;
    background-image: url('./assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.container--::-webkit-scrollbar {
    width: 10px;
}

.container--::-webkit-scrollbar-thumb {
    background: #082d3d;
    border-radius: 50px;
}

.container--::-webkit-scrollbar-track {
    background: #fff;
}